.header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 15vh;
    background: #f14049;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    //padding: 0 10px 0 0px;

    .burger {
        margin-top: 1.5vh;
        height: 7vh;
    }
}

.logoContainer {
    display: flex;
    align-items: center;
    
    .logoImage {
        width:60vw;
        //width: 20vw;
    }

    .logoTxt {
        margin-top: 2vh;
        display: flex;
        align-items: center;
        font-size: 25px;
    }
}
