.container {
  width: 100%;
  height: 10vh;
  z-index: 1000;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f14049;
}

.burger {
  height: 7vh;
}

.logoContainer {
  display: flex;
  align-items: center;
}
.logoName {
  width: 50vw;
}