.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 7vw;
    margin-top: 18vh;
    color: black;
}

.image {
    width: 80vw;
    height: 35vh;
}

.ingredients {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    color: grey;
}

.instrContainer {
    color: black;
    width: 90vw;
    font-size: 23px;
    white-space: pre-line;
}